<div class="container">
    <div id="calculator"></div>
    <div class="input">
            {{(currentNumber$|async)?.currentNumber}}
        <div class="resulf">
            {{ (currentNumber$ | async)?.resulf ?? 0}}
        </div>
    </div>
    <div class="buttons">
        <button class="button" (click)="keyPressed('/','operator')">/</button>
        <button class="button" (click)="keyPressed('C','operator')">C</button>
        <button class="button" (click)="keyPressed('*','operator')">*</button>
        <button class="button">&larr;</button>
        <button class="button" (click)="keyPressed('7','number')">7</button>
        <button class="button" (click)="keyPressed('8','number')">8</button>
        <button class="button" (click)="keyPressed('9','number')">9</button>
        <button class="button" (click)="keyPressed('-','operator')">-</button>
        <button class="button" (click)="keyPressed('4','number')">4</button>
        <button class="button" (click)="keyPressed('5','number')">5</button>
        <button class="button" (click)="keyPressed('6','number')">6</button>
        <button class="button" (click)="keyPressed('+','number')">+</button>
        <button class="button" (click)="keyPressed('1','number')">1</button>
        <button class="button" (click)="keyPressed('2','number')">2</button>
        <button class="button" (click)="keyPressed('3','number')">3</button>
        <button class="button" (click)="keyPressed('.','operator')">.</button>
        <button class="button">(</button>
        <button class="button"(click)="keyPressed('0','number')">0</button>
        <button class="button">)</button>
        <button id="equal" class="button" (click)="keyPressed('=','operator')">=</button>
    </div>
</div>
